:root {
	--min-page-width: 280px;
	--max-page-width: 550px;
	--header-height: 100px;
}

body {
	white-space: normal;
	background: azure;
	width: 100%;
	height: 100%;
	font-family: Arial;
	margin: 0px;
	/* margin-bottom: 10px; */
	border: 0;
	scrollbar-base-color: lightskyblue;
	scrollbar-3dlight-color: darkgray;
	scrollbar-highlight-color: lightskyblue;
	scrollbar-track-color: lightblue;
	scrollbar-arrow-color: teal;
	scrollbar-shadow-color: lightskyblue;
	scrollbar-darkshadow-color: darkgray;
	/*min-width: var(--min-page-width);*/
	/*max-width: var(--max-page-width);*/
    /*overflow-x: hidden;*/
}

div.middle {
	white-space: normal;
	padding-top: 66px;
}

div.top {
	padding: 0px;
	height: 66px;
	overflow: hidden;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	min-width: var(--min-page-width);
	max-width: var(--max-page-width);
	background-color: azure;
	box-shadow: 0px 1px 3px #666666;
}

div.topmenu {
	height: 30px;
	width: 100%;
	color: blue;
	position: absolute;
	font-size: 12pt;
	text-align: right;
}

.pollBox,
.noticeBox {
	background: pink;
	border: solid 3px black;
	padding: 10px 10px;
	margin: 5px;
	border-radius: 10px;
}

.pointBox {
	background: lightGreen;
	border: solid 3px black;
	padding: 10px 10px;
	margin: 5px;
	border-radius: 10px;
}

.jpn-eiken {
	text-align: center;
	font-weight: 700;
	font-size: 1rem;
}

table.LessonNumber {
	background: gold;
	width: 80px;
	height: 100%;
}

td.LessonNumber {
	width: 30%;
	height: 60px;
	font-weight: bold;
	color: teal;
	vertical-align: bottom;
	text-align: center;
	font-size: 13pt;
	cursor: pointer;
}

td.LessonTitle {
	height: 100%;
	font-size: 13pt;
	padding-left: 10px;
	padding-bottom: 7px;
	padding-top: 7px;
	text-align: left;
	vertical-align: bottom;
}

table.Header {
	border: 0;
}

span.BoldPink {
	color: teal;
	font-weight: bold;
	font-size: 11pt;
}

span.RegularPink {
	color: teal;
	font-size: 11pt;
}

span.SmallPink {
	color: teal;
	font-size: 10pt;
}

span.BoldPink,
span.RegularPink,
span.SmallPink {
	color: mediumvioletred;
}

button.BoldPink:hover,
button.RegularPink:hover,
button.SmallPink:hover,
button.PointText {
	background-color: white;
}

.lesson-topic-header,
.lesson-topic-footer {
	display: block;
	margin: 10px 0px;
	padding: 10px;
	background-color: #ffffff99;
	box-shadow: 1px 1px 1px #555555;
	color: black !important;
}

.lesson-topic-title {
	padding: 9px 9px 0px 9px;
	display: block;
	margin: 0;
}

.topic-text h1 {
	font-size: 15px;
	font-weight: inherit;
	margin: 0;
	line-height: 1em;
	padding-bottom: 8px;
    color: #003F69;
    padding-top: 6px;
}

.topic-text p.lesson-point {
	font-size: 10px;
	margin: 0;
	padding: 0;
}

/* .lesson-topic {
} */

a.Linker {
	color: navy;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
}

span.LessonText {
	color: black;
	font-size: 10pt;
	margin-top: 6px;
	margin-bottom: 2px;
}

span.L9Text {
	color: black;
	font-size: 10pt;
	width: 170px;
}

div.TitleText {
	color: black;
	font-size: 10pt;
	margin-top: 2px;
	margin-bottom: 12px;
}

span.DialogueText {
	font-size: 10pt;
	color: black;
	padding-left: 2px;
}

div.TodaysPoint {
	position: relative;
	background: gold;
	/* margin: -7px;
	margin-bottom: -3px;
	margin-right: -6px; */
	/* vertical-align: bottom; */
	/* margin-top: 2px; */
}

img.PointImage {
	position: relative;
	width: 156px;
	height: 125px;
	border: 0;
	/* margin: -3px; */
	margin-bottom: -3px;
	cursor: pointer;
}

img.ImageLink {
	width: 154px;
	height: 110px;
	border: 0;
	cursor: pointer;
	margin-top: 5px;
}

img.BigImageLink,
img.MediumImageLink,
img.SmallImageLink {
	width: 336px;
	/* Base size is 1918 x 1279, 2:3 ratio */
	height: 240px;
	border: 0;
	cursor: pointer;
	margin-top: 10px;
	background-color: black;
	background: black;
	border-radius: 15px;
}

img.BigImageLink {
	display: block;
	margin: 10px auto;
}

img.MediumImageLink {
	width: 168px;
	height: 120px;
	margin: 3px 0px 3px 4px;
}

img.SmallImageLink {
	width: 107px;
	height: 75px;
	margin: 3px 0px 3px 5px;
}

img.ImageLink:hover,
img.BigImageLink:hover,
img.MediumImageLink:hover,
img.SmallImageLink:hover {
	opacity: 0.8;
}

img.BigImageLink.img-clicked,
img.MediumImageLink.img-clicked,
img.SmallImageLink.img-clicked {
	outline: 1px solid #666666;
	box-shadow: 0px 2px 5px #000000;
}

img.ImageLink.img-clicked:hover,
img.BigImageLink.img-clicked:hover,
img.MediumImageLink.img-clicked:hover,
img.SmallImageLink.img-clicked:hover {
	opacity: 1.0;
}

img.ImageLinkSegue {
	width: 115px;
	height: 75px;
	border: 0;
	cursor: pointer;
	margin-bottom: 2px;
	margin-right: 17px;
}

img.ImageLinkSegueRight {
	width: 115px;
	height: 75px;
	border: 0;
	cursor: pointer;
	margin-bottom: 2px;
}

div.PictureArea {
	text-align: center;
	margin-left: -1px;
}

div.LessonTopic {
	border: 0;
	margin-bottom: 0;
	padding-left: 2px;
	padding-top: 10px;
	background: lightblue;
	font-size: 11pt;
	overflow: hidden;
}

div.topic-text,
div.topic-text, span.topic-text {
    display: block;
    padding: 0 10px 10px 10px;
    /* margin: 10px auto; */
    background: lightblue;
    line-height: 1.2em;
    margin-bottom: 0;
    font-size: 13px;
    color: #343434;
    border: 9px solid #FFD3DA;
    padding: 9px;
    margin-bottom: 9px;
}

div.Section {
	padding-left: 2px;
	padding-top: 8px;
	font-size: 11pt;
	line-height: 17px;
	padding-bottom: 4px;
}

div.SectionTitle {
	color: gray;
	font-size: 12pt;
	font-weight: bold;
	padding-bottom: 4px;
	margin-left: -19px;
	z-index: 1;
}

table.LanguageTable {
	border: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 3px;
	font-size: 10pt;
	width: 100%;
}

table.LanguageTable tr:hover td.DarkCell,
tr:hover td.LightCell {
	background-color: white;
}

td.DarkCell {
	background: silver;
	padding-left: 5px;
	width: 50%;
	cursor: pointer;
}


td.LightCell {
	background: lavender;
	padding: 3px;
	padding-left: 5px;
	width: 50%;
	cursor: pointer;
}

td.WordBank {
	background: lavender;
	padding-left: 5px;
	cursor: pointer;
	font-size: 10pt;
}

span.WordBank {
	color: blue;
	font-weight: bold;
}

span.Arrow {
	color: mediumvioletred;
	font-family: wingdings;
}

button.TextLink {
	border: 0;
	width: 180px;
	margin-left: -1px;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 9pt;
	text-decoration: none;
	color: black;
	cursor: pointer;
	background: yellow;
	text-align: left;
	padding-bottom: 1px;
	margin-bottom: 2px;
}

button.TextLink:hover {
	background-color: white;
}

.optionButton,
.optionButton:active {
	width: 200px;
	font-size: 12pt;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	background: #ddd;
	color: black;
	display: inline-block;
	margin-top: 4px;
	margin-left: 4px;
	padding-top: 5px;
}

.optionButton:hover {
	background: lightgreen;
}

.busSegueLink {
	border: 0;
	width: 180px;
	padding: 2px 1px 2px 17px;
	font-size: 9pt;
	text-decoration: none;
	color: black;
	cursor: pointer;
	background: LightSkyBlue;
	text-align: left;
	margin-bottom: 5px;
	margin-top: 0px;
	font-weight: bold;
}

.busSegueLink b {
	/* It's pretty redundant to wrap all text in multiple tags just for
	styling purposes. Up until now all buttons have been <button><b>Text</b></button>
	In doing away with the inner <b> tag, placing this rule to avoid issues with
	extra-bold text in cases where the old format is still in use. */
	font-weight: inherit;
}

.busSegueLink:hover {
	background: LightSeaGreen;
}

.segueLink,
.springSegueLink,
.fallSegueLink,
.winterSegueLink {
	border: 0;
	width: 180px;
	margin-left: -1px;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 9pt;
	text-decoration: none;
	color: black;
	cursor: pointer;
	background: LightSkyBlue;
	text-align: left;
	padding-bottom: 1px;
	margin-bottom: 2px;
}

.segueLink:hover,
.springSegueLink:hover,
.fallSegueLink:hover,
.winterSegueLink:hover {
	background: LightSeaGreen;
}

span.TextLink {
	border: 0;
	width: 180px;
	margin-left: -1px;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 9pt;
	text-decoration: none;
	color: black;
	cursor: pointer;
	background: yellow;
	text-align: left;
	padding-bottom: 1px;
	margin-bottom: 2px;
}

button.TopButton {
	text-align: center;
	vertical-align: middle;
	border: 0;
	margin: auto;
	font-size: 9pt;
	text-decoration: none;
	color: #333333;
	cursor: pointer;
	background: azure;
	font-weight: bold;
}

button.TopButton b {
	font-weight: inherit;
}

button.TopButton:hover {
	background-color: lightskyblue;
	color: teal;
}

button.LessonButton {
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border: 0;
	margin: auto;
	font-size: 10pt;
	text-decoration: none;
	color: gray;
	cursor: pointer;
	background: lightblue;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 83px;
}

button.LessonButton:hover {
	background: white;
	color: #333333;
}

button.BoldPink {
	color: teal;
	font-weight: bold;
	font-size: 11pt;
	cursor: pointer;
	background: lightskyblue;
	border: 0;
	padding-top: 1px;
	/* vertical-align: middle; */
	height: 1.75em;
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

button.PointText {
	color: black;
	font-weight: bold;
	font-size: 10pt;
	cursor: pointer;
	background: lightskyblue;
	border: 0;
	width: 100%;
	padding-bottom: 2px;
	margin-top: 7px;
	margin-bottom: -7px;
	vertical-align: middle;
}

button.PointText:hover {
	background-color: white;
}

span.PointText {
	color: black;
	font-weight: bold;
	font-size: 10pt;
	cursor: pointer;
	background: lightskyblue;
	border: 0;
	width: 100%;
	padding-bottom: 2px;
	margin-top: 7px;
	margin-bottom: -7px;
	vertical-align: middle;
}

span.PointTextPink {
	color: teal;
}

div.PointText {
	text-align: center;
	margin-top: -10px;
	margin-bottom: 15px;
}

div.popup {
	background: gold;
	border-style: solid;
	border-width: 1px;
	border-color: #909090;
	left: 25px;
	right: 25px;
	top: 20%;
	height: auto;
	position: fixed;
	display: none;
	text-align: center;
	vertical-align: top;
	padding: 0;
	margin: 0;
	overflow: hidden;
	max-width: 500px;
}

.hbwe {
	font-size: 12pt;
	cursor: pointer;
	font-family: webdings;
}

td.pheader {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px;
	background: darkgray;
	font-weight: bold;
	color: white;
	font-size: 11pt;
	font-family: Arial;
}

div.ptext {
	background: gold;
	height: 300px;
	font-size: 10pt;
	padding: 5px;
	font-family: Arial;
	overflow-y: auto;
}

div.TopicTop {
	padding-bottom: 9px;
	background-color: #FFD3DA;;
}

a.LessonLinksLinks {
	border: 0;
	width: 50px;
	margin-left: -1px;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 10pt;
	color: teal;
	cursor: pointer;
	background: yellow;
	text-align: center;
	padding-bottom: 1px;
	margin-bottom: 2px;
	font-weight: bold;
	text-decoration: none;
	height: 100%;
}

a.LessonLinksCAT {
	width: 100%;
	height: 100%;
	font-size: 10pt;
	color: teal;
	cursor: pointer;
	background: yellow;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	vertical-align: top;
}

td.LessonLinksText {
	border: 0;
	width: 180px;
	margin-left: -1px;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 10pt;
	color: black;
	text-align: left;
	padding-bottom: 1px;
	margin-bottom: 2px;
	text-decoration: none;
}

div.LCMenu {
	display: none;
	cursor: pointer;
}

button.LCMenu {
	display: none;
	cursor: pointer;
}

div.LCMenuCAT {
	display: none;
	cursor: pointer;
	margin-left: 13px;
}

button.LCMenuCAT {
	display: none;
	cursor: pointer;
	margin-left: 13px;
}

a.LCMenu {
	background: yellow;
	cursor: pointer;
	padding: 2px;
	font-weight: bold;
	font-size: 11pt;
	margin-bottom: 5px;
	margin-left: 0px;
	width: 100%;
}

td.header,
th.header  {
	height: 40px;
	background: navy;
	color: #ffffff;
	font-size: 13pt;
	padding: 3px;
	font-family: Arial;
	font-weight: normal;
	text-align: center;
	border-bottom: 4px solid teal;
}

span.BookTitle {
	color: yellow;
	font-weight: bold;
}

td.headeroption,
th.headeroption {
	font-size: 13pt;
	padding: 3px;
	font-family: Arial;
	text-align: center;
	vertical-align: middle;
}

input.text {
	color: teal;
	border: 1px solid gray;
	font-size: 10pt;
	font-family: Arial;
	height: 22px;
}

input.button {
	color: teal;
	background: #ffffff;
	border: 1px solid gray;
	font-size: 10pt;
	font-family: Arial;
	width: 100px;
	outline: 0;
}

hr.HR {
	color: teal;
	width: 3px solid;
	margin-left: -32px;
}

td.main {
	padding: 10px;
	vertical-align: top;
	width: 100%;
	height: 200px;
	overflow: auto;
}

table.MainMenuTable {
	width: 100%;
	/*position:						absolute;*/
	margin-left: -14px;
	font-size: 11pt;
	height: 210px;
	overflow: auto;
}

table.MainMenuTableCAT {
	width: 100%;
	position: relative;
	margin-left: -14px;
	font-size: 11pt;
	height: 210px;
	overflow: auto;
}

td.MenuItem {
	padding-left: 15px;
	font-size: 11pt;
	width: 20%;
}

td.MenuItemCAT {
	padding-left: 15px;
	margin-top: 5px;
	font-size: 11pt;
	vertical-align: top;
	color: teal;
}

a.MenuLink {
	text-decoration: none;
	font-weight: bold;
	color: teal;
	font-size: 10pt;
}

a.MenuLinkCAT {
	text-decoration: none;
	font-weight: bold;
	color: teal;
}

a.MenuLink:hover {
	color: navy;
}

a.MenuLinkCAT:hover {
	color: navy;
}

div.StayPut {
	overflow-y: auto;
}

div.StayPutCAT {
	height: 375px;
	overflow-y: auto;
	width: 360px;
}

body.stay-put {
	margin-bottom: 0;
}

body.stay-put thead th {
	position: sticky;
	top: 0;
}

body.stay-put tfoot th {
	position: sticky;
	bottom: 0;
	background-color: mistyrose;
}

input {
	outline: 0;
}

div.ListeningDialogue {
	background: lavender;
	padding: 2px;
	margin: 2px;
}

div.ListeningDialogueCAT {
	background: lightgrey;
	padding: 4px;
	margin: 4px;
}

.wing {
	font-family: wingdings;
}

table.ptable {
	overflow-y: auto;
}
