:root {
	--min-page-width: 320px;
	--max-page-width: 550px;
	--header-height: 100px;
}

[contenteditable] p {
	margin: 0;
}

#helparea {
	background-color: #ffffb3;
}

#ending {
	display: none;
}

#junior {
	display: none;
}

#kinder {
	display: none;
}

#menu a {
	color: #0000ff;
	background: transparent;
}

#middle {
	display: none;
}

#opening {
	display: block;
}

#pulloutmenu a {
	color: #000000;
	text-decoration: none;
	background: transparent;
}

#pulloutmenu a:hover {
	background: #000000;
	color: #d3d3d3;
}

#senior {
	display: none;
}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.arrows {
	top: 0;
	right: 0;
	border: 0;
	position: absolute;
}

.assessSection {
	background: #e6e6e6;
	width: 100%;
	padding: 10px;
	clear: both;
}

.assessmentAndDecision {
	background: #f0f0f0;
	width: 100%;
	padding: 10px;
}

.b0 {
	background: #e6f0fa;
	font-size: 10pt;
	padding: 10px;
	font-family: Arial;
}

.b1 {
	background: #e6ebe6;
	font-size: 10pt;
	padding: 10px;
	font-family: Arial;
}

.b2 {
	background: #e6e6d2;
	font-size: 10pt;
	padding: 10px;
	font-family: Arial;
}

.b3 {
	background: #e6e1be;
	font-size: 10pt;
	padding: 10px;
	font-family: Arial;
}

.b4 {
	background: #e6dcaa;
	font-size: 10pt;
	padding: 10px;
	font-family: Arial;
}

.b5 {
	background: #d2dcaa;
	font-size: 10pt;
	padding: 10px;
	font-family: Arial;
}

.b6 {
	background: #bedcaa;
	font-size: 10pt;
	padding: 10px;
	font-family: Arial;
}

.b7 {
	background: #afe1aa;
	font-size: 10pt;
	padding: 10px;
	font-family: Arial;
}

.b8 {
	background: #74fc74;
	font-size: 10pt;
	padding: 10px;
	font-family: Arial;
}

.b9 {
	background: #ff7676;
	font-size: 10pt;
	padding: 10px;
	font-family: Arial;
}

.b10 {
	background: #ff7676;
	font-size: 11pt;
	padding: 5px;
	font-family: Arial;
	color: #ffffff;
	font-weight: bold;
}

.b11 {
	background: #f0ff9a;
	font-size: 10pt;
	padding: 10px;
	font-family: Arial;
}

.b12 {
	background: #d9f4ff;
	font-size: 10pt;
	padding: 10px;
	font-family: Arial;
}

.b13 {
	background: #fee4e4;
	font-size: 10pt;
	padding: 10px;
	font-family: Arial;
}

.bold {
	font-weight: bold;
}

.border {
	border: 1px solid #bebebe;
}

.button {
	color: #000096;
	background: #ffffff;
	width: 122px;
	border: 1px solid #009696;
	font-size: 8pt;
	cursor: pointer;
}

.button1 {
	color: #000096;
	background: #ffffff;
	width: 122px;
	border: 1px solid #009696;
	font-size: 8pt;
	cursor: pointer;
	text-align: center;
}

.button3 {
	color: #0000E7;
	background: #CEEFFE;
	width: 115px;
	border: none;
	font-size: 8pt;
	cursor: pointer;
	font-weight: bold;
	padding: 3px;
	text-align: center;
}

.center {
	text-align: center;
}

.demonstration {
	font-weight: bold;
}

.desc {
	font-weight: bold;
}

.extension {
	font-weight: bold;
}

.extrainfo {
	display: none;
}

.hbwe {
	font-size: 12pt;
	cursor: pointer;
	font-family: webdings;
}

.hbwi {
	font-size: 12pt;
	font-family: wingdings;
}

.hdesc {
	font-size: 10pt;
	padding-left: 15px;
	font-family: Arial;
}

.header {
	font-family: Arial;
	font-weight: bold;
}

.headerbox {
	background: #E4E4FF;
	font-size: 10pt;
}

.headersmall {
	font-size: 9pt;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

.hidden {
	display: none;
}

.hnum {
	background: #000000;
	color: #ffffff;
	font-size: 12pt;
	padding-right: 5px;
	padding-left: 5px;
	font-family: Arial;
	font-weight: bold;
}

.hpicbor {
	width: 122px;
	height: 84px;
	text-align: center;
	vertical-align: middle;
}

.hpinfo {
	font-size: 8pt;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
}

.htitle {
	color: #000000;
	font-size: 11pt;
	border-bottom: 1px solid #800000;
	font-family: Arial;
	font-weight: bold;
}

.lessoninfo {
	font-size: 10pt;
	padding: 5px;
	font-family: Arial;
}

.lessonsection {
	border: 1px solid #808080;
	margin-bottom: 5px;
	width: 98%;
	text-align: left;
}

.levellink {
	background: #e6f0fa;
	font-size: 12pt;
	padding: 3px;
	font-weight: bold;
	text-align: center;
}

.levellink A {
	color: #0000ff;
}

.levellink A:hover {
	color: #000000;
}

.levellink A:visited {
	color: #0000ff;
}

.link {
	color: #0000ff;
	font-size: 10pt;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

.kidslink {
	color: #0000ff;
	font-size: 9pt;
	cursor: pointer;
	text-decoration: none;
}

.linkhover {
	font-size: 10pt;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	color: red;
}

.maininst {
	width: 100%;
	font-size: 13px;
	padding: 2px;
	margin: 3px;
	margin-right: 7px;
	margin-left: 7px;
	font-family: Arial;
	text-align: center;
}

.mediaLink {
	color: #0000ff;
	font-weight: bold;
	cursor: pointer;
}

.mtable {
	background: #ffffff;
	margin-bottom: 25px;
}

.mtitle {
	color: #000000;
	background: #ffffff;
	font-size: 11pt;
	padding-bottom: 2px;
	font-family: Arial;
	font-weight: bold;
}

.mtitle2 {
	color: #000000;
	background: #D5CB91;
	font-size: 11pt;
	padding-bottom: 2px;
	font-family: Arial;
	font-weight: bold;
}

.navigate {
	text-align: center;
}

.objectOfTheGame {
	font-weight: bold;
}

.onlypreview {
	background: #e1e1e1;
	color: #ff0000;
	top: 0px;
	font-size: 13pt;
	border: 2px solid #0000ff;
	width: 300px;
	left: 7%;
	font-family: Arial;
	position: absolute;
	font-weight: bold;
	text-align: center;
	display: none;
}

.pheader {
	background: #ffffff;
	font-size: 12pt;
	font-family: Arial;
}

.picinfo {
	background: #ffffe1;
	left: 15px;
	border: 1px solid #000000;
	padding: 2px;
	top: 30%;
	width: 90%;
	position: absolute;
}

.pmain {
	background: #ffffff;
	overflow: auto;
}

.popupmiyabi {
	left: 8%;
	top: 29%;
	height: 50%;
	width: 88%;
	position: absolute;
	display: none;
}

.additional {
	background: #E2DAAE;
}

.popupBody {
	background: #fefefe;
	font-size: 10pt;
	height: 220px;
	padding: 5px;
	overflow: auto;
	text-align: left;
	vertical-align: top;
}

.popupButton {
	color: #c80000;
	background: #ffffff;
	border: 1px solid #000000;
	font-weight: bold;
	font-family: webdings;
}

.popupHeader {
	background: #fefefe;
	font-size: 15pt;
	margin-top: 8px;
	font-weight: bold;
	text-align: center;
}

.ptable {
	background: #c6c6c6;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 2px solid #000000;
	border-right: 2px solid #000000;
}

.ptableChars {
	background: #c6c6c6;
	border: none;
	padding: -1px;
}

.reminder {
	background: #ffdcf0;
	width: 100%;
	padding: 10px;
}

.resourceheader {
	color: #ff8000;
	font-family: Arial;
}

.right {
	float: right;
	text-align: right;
}

.selector {
	background: #ffffff;
	font-size: 10px;
	width: 140px;
	border: 1px solid #ffffff;
	padding: 2px;
	font-family: Arial;
	cursor: pointer;
}

.setup {
	font-weight: bold;
}

.textLink {
	color: #0000ff;
	font-size: 10pt;
	padding-left: 30px;
	font-family: Arial;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

.textLinkHover {
	color: #0000ff;
	font-size: 10pt;
	padding-left: 30px;
	font-family: Arial;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}

.title {
	padding: 0px;
	font-size: 11pt;
	border-bottom: 1px solid #bec0c2;
	font-family: Arial;
	font-weight: bold;
	text-align: right;
}

.titlenum {
	background: #000000;
	color: #ffffff;
	font-size: 10pt;
	font-family: Arial;
	font-weight: bold;
	text-align: right;
}

.vatop {
	vertical-align: top;
}

.wing {
	font-family: wingdings;
}

.wing2 {
	font-family: wingdings 2;
}

.wing3 {
	font-family: wingdings 3;
}

a {
	color: #0000ff;
}

a.hextra {
	color: #323232;
	background: #ffffff;
	width: 100%;
	height: 11pt;
	font-size: 9pt;
	font-family: Arial;
	font-weight: bold;
	vertical-align: middle;
	text-decoration: none;
}

a.hextra:hover {
	color: #960000;
	text-decoration: none;
}

a.menulink {
	color: #0000ff;
	width: 120px;
	font-size: 9pt;
	text-decoration: none;
}

a:link {
	color: #0000ff;
	font-weight: bold;
	text-decoration: none;
}

a:visited {
	color: #0000ff;
	font-weight: bold;
	text-decoration: none;
}

body {
	background: #ffffff;
	margin: 0px;
	font-size: 14pt;
	font-family: Arial;
	/*min-width: var(--min-page-width);*/
	/*max-width: var(--max-page-width);*/
    /*overflow-x: hidden;*/
}

body.resourcebody {
	margin: 5px;
	text-align: center;
}

dd.flash {
	font-style: italic;
}

div {
	font-size: 10pt;
	font-family: Arial;
}

div.activity {
	padding-bottom: 10px;
	text-align: left;
}

div.aimsPopup {
	left: 10%;
	top: 40%;
	height: 56%;
	width: 80%;
	position: absolute;
	text-align: center;
	overflow: hidden;
	display: none;
}

div.aimsPopup2 {
	left: 30px;
	top: 116px;
	height: 56%;
	width: 80%;
	position: absolute;
	text-align: center;
	overflow: hidden;
	display: none;
}

div.aqa {
	background: #e6f0fa;
	border: 1pz solid #bebebe;
	font-size: 8pt;
	text-align: center;
}

div.cat_dc_criteria {
	background: #fef2ba;
	font-size: 10pt;
	font-family: Arial;
}

div.cat_dc_header {
	background: #ffffff;
	padding-bottom: 0px;
	padding-top: 3px;
	padding-left: 8px;
	font: bold 11pt arial;
	text-align: left;
}

div.catbar {
	border: #969696 solid 1px;
	background: #dcdcdc;
	padding: 0;
	margin: 0px;
	width: 100%;
	font-size: 12px;
	font-family: arial;
	text-align: center;
	border-collapse: collapse;
	font-weight: strong;
}

div.catbar a {
	color: #0000ff;
	font-size: 12px;
	padding: 3px;
	font-family: arial;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

div.catbar a.togglebutton {
	cursor: pointer;
	font-family: webdings;
}

div.catbar a.togglebuttonout {
	color: #b4b4b4;
	font-family: webdings;
}

div.catbar a:hover {
	color: #000000;
}

div.definition {
	color: #000;
	background: #ff9;
	left: 0;
	font-size: 13px;
	top: 150px;
	z-index: 2;
	padding: 2px;
	position: absolute;
	display: none;
	border: thin solid black;
}

div.dialogue {
	color: #323232;
	background: #f7f7f7;
	font-size: 10pt;
	border-left: 1px solid #bebebe;
	border-top: 1px solid #bebebe;
	border-bottom: 2px solid #5a5a5a;
	border-right: 2px solid #5a5a5a;
	margin: 3px;
	padding: 5px;
	font-family: Arial;
}


div.header {
	background: #0080c0;
	color: #ffffff;
	font-size: 12pt;
	padding: 4px;
	font-weight: bold;
	text-align: center;
}

div.language {
	text-align: left;
}

div.levellink {
	background: #e6f0fa;
	padding: 2px;
	text-align: center;
}

div.levellink2 {
	border: #000000 solid 1px;
	background: #dcdcdc;
	margin: 0px;
	width: 100%;
	padding: 4px;
	text-align: center;
	border-collapse: collapse;
}

div.levellink2 A {
	color: #0000ff;
}

div.levellink2 A:hover {
	color: #000000;
}

div.levellink2 A:visited {
	color: #0000ff;
}

div.listening {
	background: #ffffff;
	margin: 10px;
	padding-right: 10px;
	padding-left: 10px;
	border-left: 1px solid #9b9b9b;
	border-top: 1px solid #9b9b9b;
	border-bottom: 2px solid #000000;
	border-right: 2px solid #000000;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.lmpnote {
	background: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	margin: 1px;
	border-right: 1px solid #696969;
	border-top: 1px solid #696969;
	border-left: 1px solid #696969;
	border-bottom: 1px solid #696969;
	padding-bottom: 5px;
	font-size: 9pt;
}

/*div.menu {
	background:     				#ffffff;
	left:           							-150px;
	width:          						168px;
	border:         					1px solid #000000;
	top:            						23px;
	font-size:      					9pt;
	font-family:    					Arial;
	position:       					absolute;
	cursor:         						pointer;
}*/

div.menuBC {
	background: #ffffff;
	left: -150px;
	width: 168px;
	border: 1px solid #000000;
	top: 62px;
	font-size: 9pt;
	font-family: Arial;
	position: absolute;
	cursor: pointer;
}

div.partA {
	background: #f0fff0;
	padding-right: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
}

div.partB {
	background: #f8f8ff;
	padding-right: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
}

div.partHeader {
	background: #ffffff;
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 12pt;
	font-weight: bold;
}

div.pointsDisplay {
	font-size: 80px;
}

div.popupNKW {
	left: 10%;
	top: 40%;
	height: 56%;
	width: 80%;
	position: absolute;
	text-align: center;
	display: none;
}

div.popupNKW2 {
	left: 93px;
	top: 35%;
	height: 56%;
	width: 80%;
	position: absolute;
	text-align: left;
	display: none;
}

div.popupNKW3 {
	left: 56px;
	top: 40%;
	height: 56%;
	width: 80%;
	position: absolute;
	text-align: center;
	display: none;
}

div.preview {
	float: right;
}

div.top {
	width: 100%;
	padding: 3px;
	text-align: center;
}

img.bomb {
	border: 0;
	width: 15px;
	height: 15px;
}

img.charBank {
	border: 0px;
	padding: 0px;
	width: 128px;
	height: 96px;
}

img.hpreview {
	width: 122px;
	height: 84px;
}

img.magnify {
	width: 20px;
	height: 20px;
	cursor: pointer;
	float: right;
}

img.preview {
	width: 143px;
	border: 1px solid #000000;
	height: 98px;
}

img.previewPic {
	border: 1px solid #0000ff;
	width: 300px;
}

img.previewPicSmall {
	border: 1px solid #0000ff;
	width: 200px;
}

img.previewPicDialog {
	border: 1px solid #0000ff;
	width: 100px;
	text-align: left;
}

img.previewPicNKW {
	border: 1px solid #0000ff;
	width: 200px;
}

img.previewPicNKW2 {
	border: 1px solid #0000ff;
	width: 175px;
}

img.previewPicNKW3 {
	border: 1px solid #0000ff;
	width: 225px;
}

img.smallImage {
	width: 110px;
}

img.thumb {
	width: 122px;
	height: 84px;
	cursor: pointer;
}

img.thumbnailPic {
	padding: 0px;
	margin: 1px;
	border: 1px solid blue;
	margin-bottom: 4px;
	margin-top: 4px;
	height: 54px;
	width: 72px;
	cursor: pointer;
}

img.thumbnailPicNKW {
	padding: 0px;
	margin: 4px;
	border: 2px solid white;
	margin-bottom: 4px;
	margin-top: 4px;
	height: 54px;
	width: 72px;
	cursor: pointer;
}

input.audiobutton {
	background: #ffffff;
	padding: 0px;
	font-size: 18pt;
	border: 1px solid #000000;
	font-family: Webdings;
}

input.button {
	color: #000096;
	background: #ffffff;
	border: 1px solid #bebebe;
	font-size: 8pt;
	font-family: Arial;
}

input.hmovebut {
	background: #ffffff;
	border: 1px solid #c8c8c8;
	width: 20px;
	height: 30px;
}

input.play {
	color: #000000;
	background: #ffffff;
	padding: 0px;
	font-size: 10pt;
	margin: 1px;
	border: 2px solid #000000;
	padding-left: 5px;
	padding-right: 5px;
	font-family: Webdings;
}

input.playbutton {
	color: #000096;
	background: #ffffff;
	width: 122px;
	font-size: 16pt;
	border: 1px solid #009696;
	height: 29px;
	margin-top: 2px;
	font-family: Webdings;
	cursor: pointer;
}

input.pointButton {
	font-size: 10pt;
	height: 20px;
	width: 45px;
}

input.points {
	font-size: 10pt;
	height: 20px;
	width: 50px;
}

input.stop {
	color: #969696;
	background: #ffffff;
	padding: 0px;
	font-size: 10pt;
	margin: 1px;
	border: 1px solid #969696;
	padding-left: 5px;
	padding-right: 5px;
	font-family: Webdings;
}

input.text {
	color: #000096;
	border: 1px solid #bebebe;
	font-size: 8pt;
	font-family: Arial;
}

li.level2 {
	margin-left: 10px;
}

ol {
	margin-top: 0px;
	padding-left: 20px;
	list-style-position: outside;
}

p.center {
	text-align: center;
}

select.language {
	background: #000000;
	color: #dcdcdc;
	font-size: 8pt;
	font-family: Arial;
	font-weight: bold;
}

select.options {
	color: #0080c0;
	font-size: 10pt;
	border: 1px solid #bebebe;
	font-family: Arial;
	font-weight: bold;
}

span.audiotitle {
	color: #000096;
	font-size: 13pt;
	font-weight: bold;
}

span.green {
	color: #008000;
	font-size: 12pt;
	font-weight: bold;
}

span.h {
	font-style: italic;
}

span.header {
	font-size: 12pt;
	padding: 4px;
	width: auto;
	font-weight: bold;
	display: inline;
}

span.header2 {
	width: 100%;
	padding-right: 10px;
	font-size: 12pt;
	padding-left: 5px;
	font-weight: bold;
}

span.headerlu {
	padding-right: 10px;
	font-size: 12pt;
	padding-left: 5px;
	font-weight: bold;
}

span.headerlujpn {
	padding-right: 10px;
	font-size: 10pt;
	padding-left: 5px;
	font-weight: bold;
}

span.i {
	font-weight: bold;
}

span.iu {
	font-weight: bold;
	text-decoration: underline;
}

span.link {
	color: #0000ff;
	font-family: Arial;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

span.blacklink {
	color: #686868;
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
	text-decoration: none;
}

span.blacklinkKids {
	color: #5E5E5E;
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
	text-decoration: none;
}

span.popup {
	color: #f00;
	font-weight: bold;
	cursor: pointer;
	background: transparent;
}

span.popups {
	color: #f00;
	font-weight: bold;
	cursor: pointer;
	background: transparent;
}

span.previewText {
	left: 0px;
	font-size: 11pt;
	top: 227px;
	height: 38px;
	width: 450px;
	font-family: Arial;
	position: absolute;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	background: white;
}

span.previewTextNKW,
span.previewTextNKW2,
span.previewTextNKW3
 {
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	position: absolute;
	text-align: center;
	vertical-align: center;
}

span.previewTextNKW {
	left: 17px;
	width: 170px;
	font-size: 11pt;
	top: 143px;
	min-height: 20px;
	background: white;
	border: 1px solid #969696;
}

img.previewPic3 {
	border: 1px solid #0000ff;
	width: 250px;
}

img.previewPicDialog3 {
	border: 1px solid #0000ff;
	width: 100px;
	text-align: left;
}

.popup3 {
	margin-left: -285px;
	margin-top: 90px;
	position: absolute;
	display: none;
}

span.previewText3 {
	margin-left: -350px;
	margin-top: 195px;
	font-size: 11pt;
	height: 38px;
	width: 450px;
	font-family: Arial;
	position: absolute;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	background: white;
}

span.previewTextNKW2 {
	left: -89px;
	font-size: 12pt;
	top: 212px;
	min-height: 38px;
	width: 450px;
}

span.previewTextNKW3 {
	left: -50px;
	font-size: 12pt;
	top: 190px;
	min-height: 38px;
	width: 450px;
}

span.previewTextMiyabi {
	left: -30px;
	font-size: 11pt;
	top: 217px;
	height: 38px;
	width: 450px;
	font-family: Arial;
	position: absolute;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	background: white;
}

span.sectionHeader {
	color: #c85050;
	font-weight: bold;
}

span.time {
	font-size: 8pt;
	font-weight: bold;
}

span.toggleNumber {
	color: #0000ff;
	font-size: 10pt;
	padding: 3px;
	font-family: arial;
	cursor: pointer;
}

span.togglebutton {
	cursor: pointer;
	font-family: webdings;
}

span.web {
	font-family: Webdings;
}

span.wing {
	font-family: Wingdings;
}

span.webding {
	font-family: Webdings;
}

span.wing {
	margin: 0 0 0 4px;
	font-family: Wingdings;
}

span.wingding {
	color: #000000;
	font-size: 18pt;
	font-family: Wingdings;
}

table {
	font-size: 10pt;
	font-family: Arial;
}

table.criteria {
	font-size: 10pt;
	font-family: Arial;
}

table.music {
	border: 1px solid #bebebe;
	border-bottom: 2px solid #bebebe;
	border-right: 2px solid #bebebe;
	text-align: center;
}

td {
	font-size: 10pt;
	font-family: arial;
}

td.b0 {
	padding: 16px 16px 16px 20px;
}

td.boxtitle {
	font-size: 10pt;
	padding-left: 2px;
	font-weight: bold;
}

td.cheader {
	background: #e6f0ff;
	font-size: 12pt;
	border: 1px solid #bec0c2;
	font-family: Arial;
	text-align: center;
}

td.cointable {
	height: 40%;
	text-align: center;
	vertical-align: middle;
}

td.header {
	background: #0080c0;
	color: #ffffff;
	font-size: 13pt;
	padding: 3px;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
}

td.headerK {
	background-image: url('../../english/kids/media/KidsSectionGrad-blue.jpg');
	background-repeat: no-repeat;
	background-position: left;
	/*background:     				#3136FF;*/
	color: #ffffff;
	font-size: 14pt;
	padding: 1px;
	padding-left: 9px;
	font-family: Tahoma;
	font-weight: bold;
	text-align: left;
}

td.headeroption {
	font-size: 13pt;
	padding: 3px;
	font-family: Arial;
	text-align: center;
}

td.initialpic {
	border: 1px solid #bebebe;
	display: none;
}

td.main {
	padding: 10px;
	vertical-align: top;
}

/* #mainheader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	min-width: var(--min-page-width);
	max-width: var(--max-page-width);
	height: var(--header-height);
	background-color: white;
	box-shadow: 0px 0px 4px #333333;
}

#mainheader a {
	z-index: 10;
}

#maintable {
	padding-top: var(--header-height);
} */

td.mainheader {
	font-size: 13pt;
	padding: 2px;
	padding-right: 5px;
	font-weight: bold;
	background-repeat: no-repeat;
	text-align: right;
	background-position: right;
	background-image: url('../../media/grad1.jpg');
	background-size: cover;
	position: relative;
}

td.mainheaderK {
	font-size: 13pt;
	padding: 2px;
	padding-right: 5px;
	font-weight: bold;
	background-repeat: no-repeat;
	text-align: center;
	background-position: right;
	background-image: url('../../english/kids/media/KidsTitleGrad-blue.jpg');
	background-size: cover;
	position: relative;
}

td.mainheader2 {
	color: #000096;
	font-size: 11pt;
	padding-right: 5px;
	font-weight: bold;
	text-align: right;
}

td.section {
	border: 1px solid #bebebe;
	padding-bottom: 5px;
	padding-top: 5px;
}

td.section1 {
	background: #fae0d5;
}

td.section2 {
	background: #fefe9d;
}

td.section3 {
	background: #b3f0b3;
}

td.section4 {
	background: #F8E9FD;
}

td.section5 {
	background: #FAF9D0;
}

td.section6 {
	background: #E0FAD0;
}

td.section7 {
	background: #E7FEEB;
}

td.section8 {
	background: #C9EFEE;
}

div.section1 {
	background: #fae0d5;
}

div.section2 {
	background: #fefe9d;
}

div.section3 {
	background: #b3f0b3;
}

div.section4 {
	background: #F8E9FD;
}

div.section5 {
	background: #FAF9D0;
}

div.section6 {
	background: #E0FAD0;
}

div.section7 {
	background: #E7FEEB;
}

div.section8 {
	background: #C9EFEE;
}

td.sectiontitle {
	color: #0062a2;
	background: #ffffff;
	font-size: 10pt;
	font-family: Arial;
	font-weight: bold;
	cursor: pointer;
	text-align: left;
}

td.sidebar {
	background: #e6f0fa;
	padding: 3px;
}

td.sideheader {
	background: #d9d9d9;
	border-bottom: 1px solid #bec0c2;
	border-left: 1px solid #bec0c2;
	padding-bottom: 3px;
	font-weight: bold;
	font-style: italic;
	vertical-align: top;
}

td.sidetext {
	border-right: 1px solid #bec0c2;
	border-bottom: 1px solid #bec0c2;
	padding-left: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

td.songtable {
	height: 100%;
	vertical-align: top;
}

td.table3 {
	border: 1px solid black;
	height: 22%;
	width: 30%;
	vertical-align: bottom;
	text-align: center;
}

td.task {
	background: #ededed;
}

td.warmup {
	border: 1px solid #bebebe;
}

ul {
	margin-top: 0px;
	margin-left: 0px;
	padding: 7px;
	/*list-style-position:			inside;*/
}

/**********************************************
To preserve WPC Formatting
***********************************************/
div.level2 {
	margin-left: 10px;
}

div.level3 {
	margin-left: 30px;
	margin-right: 20px;
	margin-bottom: 10px;
}

div.notext {
	font-family: Arial;
	font-size: 10pt;
	color: rgb(50, 50, 50);
	background: pink;
	border-top: 1px solid rgb(190, 190, 190);
	border-left: 1px solid rgb(190, 190, 190);
	border-right: 2px solid rgb(90, 90, 90);
	border-bottom: 2px solid rgb(90, 90, 90);
	padding: 5px;
	margin: 3px;
}


/****************************** NEW SECTIONS *******************************/

a:active {
	color: #0000ff;
	font-size: 10pt;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

span.link {
	color: #0000ff;
	font-size: 10pt;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

div.menu {
	background: #ffffff;
	left: -150px;
	width: 168px;
	border: 1px solid #000000;
	top: 20px;
	font-size: 9pt;
	font-family: Arial;
	position: fixed;
	cursor: pointer;
	z-index: 1000;
}

td.theheader {
	background: #ffffff;
	top: 0px;
	width: 100%;
	height: 35%;
	font-size: 9pt;
	font-family: Arial;
	position: fixed;
}


div.frame {
	background: #ffffff;
	/*height:         						65%;*/
	margin-top: 135px;
	width: 100%;
	overflow: auto;
}

.popup {
	background: #afafaf;
	border-left: 1px solid #c8c8b4;
	border-top: 1px solid #c8c8b4;
	left: 10px;
	border-right: 2px solid #00000a;
	border-bottom: 2px solid #00000a;
	top: 39%;
	height: 60%;
	width: 90%;
	position: relative;
	display: none;
}

div.popup {
	left: 42px;
	top: 40%;
	height: 56%;
	width: 75%;
	position: fixed;
	text-align: center;
	display: none;
}

div.ptext {
	background: #f7f7f7;
	/*height:         						100%;*/
	height: 201px;
	/* width: 246px; */
	font-size: 10pt;
	padding: 5px;
	font-family: Arial;
	/* overflow: auto; */
}

.pclose {
	color: #800000;
	background: #ffffff;
	border: 1px solid #000000;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 8pt;
	text-align: center;
	cursor: pointer;
	width: 20px;
}

div.theheader {
	background: #ffffff;
	top: 0px;
	width: 100%;
	height: 32%;
	font-size: 9pt;
	font-family: Arial;
	position: fixed;
}

div.bottompage {
	margin-top: 160px;
}
/* ************* NEW FOR NOVA KIDS LESSONS ************* */
div.kidsheader {
	/* font-family: Lucida Sans Unicode; */
	font-size: 14pt;
	background:#0000E7;
	text-align: center;
	font-weight: bold;
	padding-bottom: 1px;
}

span.nova {
	color: #57FF36;
}

span.kids {
	color: #F9FF54;
}

span.today {
	font-family: Verdana;
	font-weight: normal;
	font-size: 9pt;
	text-align: left;
	margin-left: 25px;
}

div.left {
	float: left;
	text-align: left;
}

div.center {
	text-align: center;
}

div.headeroption {
	font-size: 13pt;
	padding: 3px;
	font-family: Arial;
	text-align: center;
}

div.mainContent {
	padding-left: 10px;
}

a.disabled {
	color: black;
	pointer-events: none;
}

/* ************* NEW FOR FOREIGN LANGUAGES ************* */
.container {
	margin: 0;
	padding: 0;
}

.navHeader {
	background: #0080c0;
	color: #ffffff;
	font-size: 1.4em;
	padding: 5px;
	text-align: center;
	font-weight: 600;
}

ul.lessonGroups {
	margin-left: 20px;
	list-style: square;
	color: #0000ff;
	list-style-type: "\25C6";
	font-family: Arial, Helvetica, sans-serif;
}

ul.lessonGroups a {
	margin-left: 5px;
}

.jpn-eiken li {
	line-height: 1.5em;
}

ul.groupLinks {
	margin-left: 0;
	list-style: none;
}

ul.groupLinks li:not(:last-child) {
	margin-bottom: 3px;
}

.li-text {
	color: #000000;
	font-weight: normal;
}

.text-green {
	color: green;
	font-weight: bold;
}

.topics {
	margin-left: 10px;
}

.returnLink {
	padding: 10px;
}

.returnLink a {
	font-weight: normal;
}

.LessonMenu:hover {
	background-color: yellow;
	cursor: pointer;
}

.LessonLinks:hover {
	background-color: yellow;
}

.search-lesson {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.btnSegue {
	color: #000096;
	background: #ffffff;
	width: 125px;
	height: 25px;
	border: 1px solid #009696;
	font-size: 10pt;
	cursor: pointer;
	font-weight: 700;
	margin-bottom: 5px;
}

select.nums {
	font-family: Verdana;
	font-size: 10pt;
	color: rgb(0, 100, 150);
}

.closingSegue {
	text-align: end;
	margin-right: 10px;
}

.hrLine {
	width: 94%;
	align-self: center;
}

#weekLesson {
	color: green;
	font-size: 1.1em;
}

.return-opening {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
}

.return-closing {
	display: flex;
	justify-content: space-between;
}

.opening-segue {
	display: flex;
	align-items: center;
	padding-right: 5px;
}

.closing-segue {
	display: flex;
	align-items: center;
	padding-right: 5px;
}

.wp-heading {
	margin-left: 10px;
	list-style: disclosure-closed;
	padding: 0;
}

.wp-level {
	list-style: disclosure-closed;
}

.wp-lesson {
	list-style: disc;
	line-height: 1.3em;
}

.li-heading {
	font-weight: 700;
	padding-left: 5px;
}

.main {
	padding: 10px;
	/* display: flex; */
	/* flex-direction: column; */
}

.listing {
	display: flex;
	margin-left: 10px;
}

.demo-heading {
	margin-left: 10px;
	font-size: 1.1em;
	font-weight: bold;
}

.full-pdf {
	padding: 5px 5px 5px 10px;
}

.pdf-links {
	padding: 5px;
}

.collapsed {
	display: none;
}

.heading {
	padding-left: 5px;
}

.expandable {
	padding-left: 5px;
	cursor: pointer;
}

.text-black {
	color: black;
	font-weight: normal;
}

.sub-menu {
	line-height: 18px;
}

.flex-footer {
	display: flex;
	justify-content: space-between;
}

.return-link {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.return-link a {
	font-weight: 300;
}

.eiken {
	background: #d1d1d1;
}

.eiken .BigImageLink,
.eiken .MediumImageLink,
.eiken .SmallImageLink {
	outline: 1px solid #333333;
}

.eiken-audio-link {
	font-size: 1.2em;
	font-weight: 600;
}

.audio-time {
	font-size: 1.1em;
	font-weight: 600;
}

p.info-text {
	text-align: center;
	font-weight: 600;
	font-size: 1.2em;
	width: 75%;
	margin: auto;
}

.text-red {
	color: red;
	font-weight: 700;
}

.sub-menu > li:not(:last-child) {
	margin-bottom: 2px;
}

.lessonGroups > li:not(:last-child) {
	margin-bottom: 2px;
}
